@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
    padding: 30px 0px 60px;
}
.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}

.panel-heading{
  text-align: center;
}
.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}


.c-list {
    padding: 0px;
    padding-left: 10px;
    min-height: 30px;
    font-size: 1.2em;
    font-weight: 900;
}

.title {
    display: inline-block;
    padding: 5px 15px;
}

ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 30px;
}

ul.c-controls li {
    margin-top: 6px;
    float: left;
}

ul.c-controls li a {   
    padding: 8px 10px 8px;
}

ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.estado {
  width: 10px;
  height: 35px;
  /*background-color: #0AC700;*/
  background-color: #0EAB4D;
  margin-top: 2px;
  border-radius: 10%;
  
}

.item{
  min-height: 42px;
}
.list-group-item{
  padding: 0px;
}
.col-xs-12{
  padding-left: 5px;
}

.name {
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(10,10,10)
}
.nombre{
  padding-top: 8px;
}